<div class="fields-page-container">

  <%= form_for @collection do |f| %>
    
    <div class="field-container">
      <%= f.label :name, t(".title"), class: "label input-empty", for: "new-collection-title" %>
      <%= f.text_field :name, id: "new-collection-title", class: "input", autocomplete: "off" %>
    </div>

    <div class="field-container">
      <%= f.label :name, t(".description"), class: "label input-empty", for: "new-collection-description" %>
      <%= f.text_area :description, class: "input", autocomplete: "off" %>
    </div>

    <%# You're going to be able to select the type of collections soon,
      for now we just use this %>
    <%= f.hidden_field :type, value: "Subjective" %>
    
    <%= f.submit t(".submit.#{action_name}"), id: "new-collection-submit", class: "btn btn-green btn-full-width" %>
  <% end %>
</div>
