<div id="collection-page-container">
  <div id="collection-page-header">
    <div id="collection-page-info-container">
      <p class="collection-page-title"><%= @collection.name %>
      <p class="collection-page-description"><%= @collection.description %>
      <p class="collection-page-curators"><%= t(".curated_by") %> <%= @collection.curators.pluck(:name).map {|str| "#{str}"}.join(',') %>
    </div>
    <% if current_user.try(:subscribed_to?, @collection) %>
      <%= form_tag(unsubscribe_collection_path(@collection.id), method: :delete) do %>
        <%= button_tag "Unfollow", id: "collection-unfollow", class: "btn btn-red" %>
      <% end %>
    <% else %>
    <%= form_tag(subscribe_collection_path(@collection.id)) do %>
      <%= button_tag t(".follow"), id: "collection-follow", class: "btn btn-green" %>
    <% end %>
  <% end %>
  </div>

  <div id="collection-images-container">
    <%= render 'images/show_stub' %>
  </div>

</div>
