<div id="collection-page-container">
  <div id="collection-page-header">
    <div id="collection-page-info-container">
      <p class="collection-page-title"><%= @collection.name %>
      <p class="collection-page-description"><%= @collection.description %>
      <p class="collection-page-curators"><%= t(".curated_by") %> <%= @collection.curators.pluck(:name).map {|str| "#{str}"}.join(',') %>
    </div>

    <%= form_tag(subscribe_collection_path(@collection.id)) do %>
      <%= button_tag t(".follow"), class: "collection-follow" %>
    <% end %>
  </div>

  <div id="collection-images-container">
    <%= render 'images/show_stub' %>
  </div>

</div>