<div class="note-container-outer show-note-container">
  <div class="note-container-inner">
    <div class="note-user-container">
      <%= image_tag @note.user.avatar_img %>
      <span class="note-user-name">
        <%= link_to @note.user.name, @note.user %>
      </span>
    </div>

    <article class="note-show-inner generic-card">
      <h1 class="note-title"><%= @note.title %></h1>
      <hr></hr>
      <div class="markdown-area">
        <%= markdown_parse @note.body %>
      </div>
      <hr></hr>
      <div class="note-replies-outer">
        <h4 class="generic-smallcaps-title">
          Replies
        </h4>
        <ul class="note-replies-list">
          <%= render collection: @replies, partial: "reply", as: :reply %>
        </ul>
      </div>
    </article>
  </div>
</div>
