<div class="note-container-outer show-note-container">
  <div class="note-container-inner">
    <div class="note-user-container">
      <%= image_tag @note.user.avatar_img %>
      <span class="note-user-name">
        <%= link_to @note.user.name, @note.user %>
      </span>
    </div>

    <article class="note-show-inner generic-card">
      <h1 class="note-title"><%= @note.title %></h1>
      <hr></hr>
      <div class="markdown-area">
        <%= markdown_parse @note.body %>
      </div>
      <hr></hr>
      <div class="note-replies-outer">
        <h4 class="generic-smallcaps-title">
          Replies
        </h4>
        <ul class="note-replies-list">
          <%= render collection: @replies, partial: "reply", as: :reply %>
        </ul>
      </div>
      <% if user_signed_in? %>
        <%= render 'reply_form' %>
      <% end %>

      <%= will_paginate @replies %>
    </article>
  </div>
</div>

<%= content_for(:meta_og) do %>
  <meta property="og:title" content="<%= @note.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:author:username" content="<%= @note.user.name %>">
  <meta property="og:description" content="<%= truncate(strip_tags(markdown_parse(@note.body)), length: 50) %>">
  <meta property="og:image" content="<%= @note.user.avatar.url(:medium) %>">
  <meta property="og:url" content="<%= note_url(@note) %>">
<% end %>
