<div id="sign-in-container">
  <div id="sign-in">
    <h3 class="header">Email confirmation</h3>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      </div>

  </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions" %>
    </div>
  <% end %>
</div>

<div id="sign-in-extras-container">
  <%= render "devise/shared/links" %>
</div>