<%- title t(".commissions") %>

<article class="imagehex-static-page-container no-padding no-margin white-background">

  <section class="imagehex-static-section imagehex-static-hero green commissions-about">
    <div class="title-container commissions-about">
      <h1>Commissions</h1>
      <h2>A simpler way to commission art online.</h2>
    </div>

    <div class="image-container commissions-about">
      <img src=<%= asset_path("commissions/canvas.svg") %> />
      <img class="commissions-artwork" src=<%= asset_path("commissions/rocketship.png") %> />
      <p>
        Artwork by <a href="https://www.imagehex.com/@connor">Connor Shea</a>.
      </p>
    </div>

  </section>
  <section class="imagehex-static-section">
    <div class="section-graphic">
      <%= image_tag "commissions/toolbox.svg" %>
    </div>
    <div class="imagehex-static-text">
      <h2 class="center section-header">
        Built for Commissions
      </h2>
      <p class="center section-subheader">
        ImageHex was built from the ground-up to make commissioning art easier, safer, and faster than ever.
        We handle all the logistics so you can handle the art.
      </p>
    </div>
    <ul class="features-list">
      <li class="feature">
        <%= image_tag "commissions/icon-credit-card.svg" %>
        <p>Payments</p>
        <p>
          No more fumbling with personal transfers.
          ImageHex handles payments for your clients to ensure everything goes smoothly, while still leaving you in full control of your stripe account.
        </p>
      </li>
      <li class="feature">
        <%= image_tag "commissions/icon-messages.svg" %>
        <p>Communication</p>
        <p>ImageHex has a built-in messaging sytem, fully integrated with commissions.
          No need to give out your email to clients.
        </p>
      </li>
    </ul>
  </section>

  <section class="imagehex-static-section alt-background">
    <div class="imagehex-static-text">
      <h2 class="center section-header">
        Prices, automatically
      </h2>

      <p class="center section-subheader">
        No more opening a calculator.
        ImageHex lets you set pricing flexibly, and calculates the price of each piece for you.
        Want more fine-grained control?
        Mark your listing as quote only, and we'll get out of the way.
      </p>
    </div>

    <div class="commissions-about-example">
      <div class="example-navbar"></div>

      <ul class="show-listing-categories">
        <li class="listing-category-show">
          <h2 class="padded-dark-header">
            Characters
          </h2>
          <div class="markdown-description">
            <p>
              I can draw any human characters fairly easily.
              Please provide a good reference sheet, or a good description.
            </p>
            <p>
              If you provide a description, be wary that your results may
              slightly vary.
            </p>
          </div> 
          <%# show-description %>
          <div class="category-price">
            <div>Price</div>
            <div>
              <strong>2</strong>
              included, 
              <strong>$10.00</strong> each
              (<strong>10</strong> max)
            </div>
          </div>
        </li>

        <li class="listing-category-show">
          <h2 class="padded-dark-header">
            Background
          </h2>
          <div class="markdown-description">
            <p>I can sketch out a basic background as well.</p>
          </div>
          <div class="category-price">
            <div>Price</div>
            <div><strong>$16.00</strong></div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="imagehex-static-section">
    <div class="imagehex-static-text">
      <h2 class="center section-header">
        Organization on your Behalf
      </h2>
      <p class="center section-subheader">
        ImageHex organizes all the reference material you need to create art in one central location.
        No more tracking down that one reference sheet across twenty different emails&mdash;we have you covered.
      </p>
    </div>

    <div class="commissions-about-example">
      <div class="example-navbar"></div>
      <ul class="order-categories-list">
        <li class="category-section">
          <h2 class="padded-dark-header">
            Characters
          </h2>
          <ul class="reference-group-list">
            <li class="reference-group-fields show-order">
              <div class="reference-group-header">
                <div class="description markdown-description">
                  <p>
                    Richard Stallman.
                    He's a free software advocate, and a personal hero of mine. 
                    Ideally he would be wearing some sort of Hawaiian shirt. 
                  </p>

                  <p>
                    The sword should be a scimitar, which is curved.
                    He should be holding the sword out in front of him.
                  </p>
                </div>
                <div class="references-outer">
                  <h3>Reference Images</h3>
                  <ul class="reference-images-list">
                    <li class="reference-image-item flex-row">
                      <div class="img-wrapper">
                        <%= image_tag("commissions/stallman.jpg") %>
                      </div>
                      <div class="flex-column">
                        <div class="description markdown-description">
                          This is an image of Stallman.
                        </div>
                      </div>
                    </li>
                    <li class="reference-image-item flex-row">
                      <div class="img-wrapper">
                        <%= image_tag "commissions/scim.jpg" %>
                      </div>
                      <div class="flex-column">
                        <div class="decription markdown-description">
                          This is the type of sword he should be holding.
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="order-group-container">
                    <div class="generic-tag-group">
                      <ul class="generic-tag-list">
                        <% ["Richard Stallman", "Beard", "Scimitar"].each do |e| %>
                          <li class="generic-tag"><%= e %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>

  <section class="imagehex-static-section two-column alt-background">
    <div class="section-graphic right-column wide">
      <img src=<%= asset_path("commissions/commissions-connecting-creators-with-clients.svg") %>>
    </div>

    <div class="imagehex-static-text">
      <h2 class="center section-header">Connecting creators with clients</h2>
      <p class="center section-subheader">Expand your audience, get more clients, and earn more money.</p>

      <ul class="features-list no-left-padding">
        <li class="feature">
          <img src=<%= asset_path("commissions/icon-marketplace.svg") %>>
          <p>Marketplace</p>
          <p>Commissions appear on the <%= link_to "open marketplace", listings_path %>, providing more exposure and making it easier to find artists accepting commissions.</p>
        </li>

        <li class="feature">
          <img src=<%= asset_path("commissions/icon-global.svg") %>>
          <p>It is a small world after all</p>
          <p>We use Stripe for payments, meaning that we support conversion between more than 100 currencies and accept payment in more than a dozen countries.</p>
        </li>

        <li class="feature">
          <img src=<%= asset_path("commissions/icon-tiers.svg") %>>
          <p>Multiple Listings</p>
          <p>
            Can you make sketches, inked linework, fully-rendered drawings, and fancy paintings?
            ImageHex lets you make as many different listings as you want, so you can offer all your services easily.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section class="imagehex-static-section">
    <div class="section-graphic thin">
      <img src=<%= asset_path("commissions/padlock.svg") %>>
    </div>

    <div class="imagehex-static-text full-width">
      <h2 class="center section-header">Peace of mind</h2>
      <p class="center section-subheader">Commission disputes, two-factor authentication, and other safeguards protect both parties from bad actors.</p>

      <ul class="features-list features-list-horizontal no-left-padding">
        <li class="feature">
          <img src=<%= asset_path("commissions/icon-dispute.svg") %>>
          <p>Commission disputes</p>
          <p>Either party can dispute a commission if they believe the other has broken the rules. We’ll handle it personally.</p>
        </li>

        <li class="feature">
          <img src=<%= asset_path("commissions/icon-smartphone.svg") %>>
          <p>Two-factor authentication</p>
          <p>Use two-factor authentication to protect yourself and your ImageHex account from being compromised, even if your password is stolen.</p>
        </li>

      </ul>
    </div>
  </section>


  <section class="imagehex-static-section">
    <div class="imagehex-static-text">
      <h2 class="center section-header">Pricing</h2>
      <p class="center section-subheader">ImageHex has a simple, transparent pricing structure. We're not interested in tricking artists into paying fees they didn't agree to.</p>

      <div class="two-column-container">
        <section class="pricing-container generic-container no-hover">
          <div class="detail-icon">
            <img src=<%= asset_path("commissions/icon-fees.svg") %>>
          </div>
          <h3>Fees</h3>

          <div class="fees">
            <h3>10% + 30¢</h3>
            <p>per commission</p>
          </div>

          <p class="smaller-text">Fees breakdown to 7.1% for ImageHex and 2.9% + 30¢ for Stripe.</p>
        </section>

        <section class="pricing-container generic-container no-hover">
          <div class="detail-icon">
            <img src=<%= asset_path("commissions/icon-calculator.svg") %>>
          </div>

          <h3>Calculate your costs</h3>
          <div id="commission-calculator-input-container" class="commission-calculator-input-container">
            <%= react_component("CommissionPriceCalculator") %>
          </div>
        </section>
      </div>

      <p class="smaller-text padding-top">Note that this assumes transactions involving either USD or CAD, users in other countries may have slightly different Stripe fees due to currency conversion and varying pricing in different countries. See <%= link_to "Stripe's Pricing page", "https://stripe.com/pricing" %> in your respective region for more information.
      </div>

    </section>

    <section class="imagehex-static-section alt-background"> 
      <div class="imagehex-static-text">
        <h2 class="center section-header">
          Get started
        </h2>
        <p class="center section-subheader">
          The marketplace is open for business.
          <%= link_to "Open a listing", new_listing_path %> or
          <%= link_to "browse listings", listings_path %> to start
          selling or buying art today.
        </p>
      </div>
    </section>

  </article>
