<%= form_for @offer, html: {class: "commission-offer-form", id: "commission-offer-form", multipart: true} do |f| %>

  <%= f.label :description %>
  <%= f.text_area :description %>
  
  <div id="offer-form-react-container"
    data-product-id="<%= @offer.listing_id %>"
    data-offer-id="<%= @offer.id %>">
    <span>
      One moment...
    </span>
    <noscript>
      This form requires JavaScript to work. Please enable it!
    </noscript>
  </div>
<% end %>
