<h1>Offer</h1>
<span>By <%= link_to @offer.user.name, @offer.user %></span>
<br>
Total cost of <%= price(@offer.total_price) %>
<% if @offer.accepted? %>
  <p class="commission-offer-accept-date">
  Accepted <%= time_ago_in_words @offer.accepted_at %> ago
  </p>
  <% if @offer.charged? %>
    <p class="commission-offer-charge-date">
    Charged <%= time_ago_in_words @offer.charged_at %> ago
    </p>
  <% else %>
    <p class="commission-offer-awaiting-charge-info">
    Awaiting Payment
    <% if policy(@offer).charge? %>
      <%= link_to("Pay Now", pay_commission_offer_path(@offer)) %>
    <% end %>
    </p>
  <% end %>
<% end %>
<% if @offer.has_background? %> 
  <div>
    <h2>Background</h2>
    <div class="background-description">
      <%= markdown_parse @offer.backgrounds.first.description %> 
    </div>
    <ul id="reference-images">
      <% @offer.backgrounds.first.references.each do |ref| %>
        <li class="background-reference-item">
        <%= image_tag ref.file.expiring_url(60) %>
        </li>
      <% end %> 
    </ul>
  </div>
<% end %>
<% if @offer.has_subjects? %>
  <div id="offer-subjects">
    <h2>Subjects</h2>
    <ul id="subjects-list">
      <%= render partial: "subject_stub", collection: @offer.subjects, as: :subject %>
    </ul>
  </div>
<% end %>
<% if policy(@offer).confirm? %>
  <%= form_tag(confirm_commission_offer_path(@offer), method: :post) do %>
    <%= button_tag("Confirm this Offer") %>
  <% end %>
<% end %>
<% if policy(@offer).accept? %>
  <%= link_to("Accept this offer", accept_commission_offer_path(@offer),
              type: :post,
              method: :post,
              confirm: "Are you sure?") %>
            <% end %>
