<div id="settings-page">
  <div id="settings-nav">
    <ul>
      <li>General
      <li>Profile
      <li>Account settings
      <li>Muted users
      <li>Reset all settings
    </ul>
  </div>

  <div id="settings-column">
    <h2>Settings</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", :class => 'field' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "New password" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-enter new password" %>
      </div>

      <div class="actions">
        <%= f.submit "Save changes" %>
      </div>
    <% end %>

    <br>
    
  </div>

  <%= button_to "Deactivate account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>
