<li class="listings-list-item">
  <h2><%= link_to listing.name, listing %></h2>
  <div class="listings-list-user">
    <%= image_tag listing.user.avatar_img_thumb %>
    <span>
      <%= link_to listing.user.name, listing.user %>
    </span>
  </div>

  <div class="listing-description">
    <%= markdown_parse listing.description %>
  </div>

  <% if listing.quote_only? %>
    <span class="listings-list-quote-only">
      Price decided on a case-by-case basis
    </span>
  <% else %>
    <span class="two-column-label">
      <span>Base Price:</span> 
      <span><%= price listing.base_price %></span>
    </span>
  <% end %>

  <ul class="listings-list-options-list">
    <%= render partial: "option", collection: listing.options, as: :option %>
  </ul>
</li>
