<li class="listings-list-item">
  <div class="listing-info">
    <h1><%= link_to listing.name, listing %></h1>

    <div class="listings-list-description">
      <%= markdown_parse listing.description %>
    </div>

    <% if listing.average_price %>
      <div class="listing-average-price">
        Average Price: 
        <%= price listing.average_price %>
      </div>
    <% end %>
  </div>

  <% unless listing.sample_images.empty? %>
    <ul class="image-gallery listing-image-gallery">
      <% listing.sample_images(8).each do |img| %>
        <li class="image-gallery-item gallery-item-small">
          <%= link_to img do %>
            <%= image_tag img.f(:medium) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>
