<li class="listings-list-item">
  <div class="show-listing-header flex-column">
    <h1><%= link_to listing.name, listing %></h1>
    <div class="listing-artist flex-row">
      <%= image_tag listing.user.avatar_img_thumb %>
      <span>
        <%= link_to listing.user.name, listing.user %>
      </span>
    </div>
  </div>

  <div class="show-listing-description white-listing-box">
    <%= markdown_parse listing.description %>
  </div>
  <ul class="listing-example-images-list flex-row">
    <% listing.images.take(8).each do |img| %>
      <li class="listing-example-images-item">
        <%= link_to img do %>
          <%= image_tag img.f(:medium) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
