<li class="commission-products-list-item">
<%= link_to product do %>
  <h2><%= product.name %></h2>
<% end %>
<span class="product-user-container">
  <span class="product-user-avatar">
    <%= image_tag product.user.avatar_img_thumb %>
  </span>
  <span class="product-user-name">
    By <%= link_to product.user.name, product.user %>
  </span>
</span>
<ul class="product-example-images">
  <% product.example_images.take(3).each do |i| %>
    <li class="product-example-images-item">
    <%= link_to image_tag(i.f :medium), i %>
  <% end %>
</ul>

