<h1><%= @product.name %></h1>
<h3>A product from <%= link_to @product.user.name, @product.user %></h3>

<% if policy(@product.offers.build).create? %>
  <%= link_to "Make an offer", new_commission_offer_path(listing_id: @product.id) %>
<% end %>

<% if ! @product.confirmed %>
  <div class="confirmation-stuff">
    This product is not confirmed and is not visible in searches

    <% if policy(@product).confirm? %>
      <%= link_to "Confirm it Now", confirm_listing_path(@product), method: :post  %>
    <% elsif @product.user == current_user %>
      <a href="/stripe/authorize">
        Add your stripe to confirm
      </a>
    <% end %>
  </div>
<% end %>

<div id="offer-base-price">
  Base price: <%= price(@product.base_price) %>
</div>

<% if @product.offer_subjects? %>
  <div>
    Subjects may be purchased at a price of <%= price(@product.subject_price) %> each, up to a maximum of <%= @product.maximum_subjects %>.
    <% if @product.includes_subjects? %>
      <% @product.included_subjects %> are free.
    <% end %> 
  </div>
<% end %>

<% if @product.include_background? %>
  Includes a background 
<% elsif @product.offer_background? %> 
  A background may be purcahsed for <%= price(@product.background_price) %>.
<% end %>

<ul class="product-example-images all-example-images">
  <% @example_images.each do |img| %>
    <li class="product-example-images-item">
      <%= link_to img do %>
        <% image_tag img.f.url(:medium) %> 
      <% end %>
    <% end %>
  </ul>
