<div id="show-listing">

  <div class="show-listing-header flex-column">
    <h1><%= @listing.name %></h1>
    <div class="listing-artist flex-row">
      <span>By</span>
      <%= image_tag @listing.user.avatar_img_thumb %>
      <%= link_to @listing.user.name, @listing.user %>
    </div>
  </div>

  <div class="show-listing-description white-listing-box">
    <%= markdown_parse @listing.description %>
  </div>

  <div class="listing-content-ratings">
    <h5>Content Allowed</h5>
    <% if @listing.completely_safe? %>
      <p>No NSFW content allowed</p>
    <% else %>
      <ul class="listing-allowed-content">
        <% ["gore", "sexuality", "language", "nudity"].each do |a| %>
          <% if @listing.attributes["nsfw_#{a}"] %>
            <li><%= t(".nsfw_#{a}") %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>

  <ul class="show-listing-categories">
    <%= render partial: "category", collection: @listing.categories %>
  </ul>

  <div class="show-listing-options-section">
    <h2 class="padded-dark-header">Options</h2>
    <ul class="show-listing-options-list">
      <%= render partial: "option", collection: @listing.options %>
    </ul>
  </div>

  <div class="show-listing-example-images">
    <h2 class="padded-dark-header">
      Examples
    </h2>
    <ul class="listing-example-images-list flex-row">
      <% @listing.images.each do |img| %>
        <li class="listing-example-images-item">
          <%= link_to img do %>
            <%= image_tag img.f(:medium) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <% unless @listing.quote_only? %>
    <div class="listing-price-section white-listing-box">
      Base Price: <%= price @listing.base_price %>
  </div>
<% end %>

<% if @listing.user == current_user %>
  <% if current_user.stripe_user_id.nil? %>
    <div class="warning-dialogue">
      You must
      <%= link_to "add stripe", authorize_stripe_index_path %>
      to make this listing visible.
    </div>
  <% end %>

<% end %>

<% if policy(@listing).confirm? %>
  <div class="listing-confirm flex-row">
    <span>
      This listing is a draft.
    </span>
    <%= form_tag confirm_listing_path(@listing) do %>
      <%= submit_tag("Finalize Listing", class: "checkmark-submit-button") %>
    <% end %>
  </div>
<% elsif policy(@listing).open? %>
  <div class="listing-confirm flex-row">
    <span>
      This listing is closed, and no new orders can be made.
    </span>
    <%= form_tag open_listing_path(@listing) do %>
      <%= submit_tag("Open Listing", class: "checkmark-submit-button") %>
    <% end %>
  </div>
<% elsif policy(@listing).close? %>
  <div class="listing-confirm flex-row">
    <span>
      This listing is open, and accepting new orders
    </span>
    <%= form_tag close_listing_path(@listing) do %>
      <%= submit_tag("Close Listing", class: "cross-delete-button") %>
    <% end %>
  </div>
<% end %>

<% if @listing.user != current_user %>
  <%= link_to "Make an Order", 
    new_listing_order_path(@listing),
    :class => "listing-order-button" %>
<% end %>
</div>
