<div class="show-topic-outer">
  <article class="show-topic generic-card">
    <div class="topic-top-bar">
      <h4 class="topic-breadcrumb generic-breadcrumb">
        <%= link_to @topic.parent_name, @topic.parent %>
      </h4>
      <h4>
        <%= @topic.title %>
      </h4>
    </div>

    <ul class="replies">
      <%= render collection: @replies, as: :reply, partial: "reply" %>
    </ul>

    <% if user_signed_in? %>
      <%= form_for [@parent, @topic, @topic.replies.build] do |f| %>
        <div class="field-container">
          <%= f.label :body, class: "label input-empty" %>
          <%= f.text_area :body, class: "input" %>
        </div>
        <%= f.submit %>
      <% end %>
    <% end %>
  </article>
</div>
