<div class="embed-collection-container">

  <%= link_to collection_path(c) do %>
    <div class="collection-thumbnail">
      <% if c.images.count > 0 %>
        <%= image_tag c.images.first.f(:medium) %>
      <% end %>
    </div>
  <% end %>

  <div class="collection-information">
    <p class="collection-title"><%= link_to c.name, collection_path(c) %>
    <!-- Curators needs to be replaced by an actual list of curators (see Wiki page with mockups). -->
    <p class="collection-curators">Curated by Curators
    <p class="collection-description"><%= c.description %>
    <p class="collection-subscribe"><%= form_tag(subscribe_collection_path(c.id)) do %>
    <%= button_tag("submit") %>
  <% end %>
  </div>
</div>
