<div class="creators-list-item">
  <%= link_to creator do %>
    <div class="creator-list-item-header">
      <%= image_tag creator.avatar(:tiny) %>

      <div class="creator-list-item-info">
        <p><%= creator.name %></p>
        <p><%= markdown_parse creator.description %></p>
      </div>
    </div>
  <% end %>

  <div class="creator-images-gallery">
    <% creator.creations.take(4).each do |i| %>
      <li class="creator-images-gallery-item">
        <%= link_to i do %>
          <%= image_tag i.f(:small) %>
        <% end %>
      </li>
    <% end %>
  </div>
</div>
