<%- title t(".edit_page_title") %>
<div class="fields-page-container">
  <%= form_for @user do |f| %>

    <div class="field-container">
      <%= f.label :avatar_id, t(".profile_picture_image_id"), class: "label input-empty", for: "user-profile-picture-field" %>
      <%= f.number_field :avatar_id, id: "user-profile-picture-field", class: "input" %>
    </div>

    <div class="field-container">
      <%= f.fields_for :user_page do |pf| %>
        <%= pf.label :body, t(".user_bio"), class: "label input-empty", for: "user-bio-field" %>
        <%= pf.text_area :body, autocomplete: false, id: "user-bio-field", class: "input" %>
        <%= pf.hidden_field :id %>
      <% end %>
    </div>

    <div class="field-container">
      <%= f.label :page_pref, t(".images_per_page"), class: "label input-empty", for: "page-pref-field" %>
      <%= f.number_field :page_pref, id: "page-pref-field", class: "input" %>
    </div>
    <%= f.fields_for :content_pref, OpenStruct.new(@user.content_pref) do |fc|%>
      <%= fc.label :nsfw_gore %>
      <%= fc.check_box :nsfw_gore %>
      <%= fc.label :nsfw_language %>
      <%= fc.check_box :nsfw_language %>
      <%= fc.label :nsfw_nudity %>
      <%= fc.check_box :nsfw_nudity %>
      <%= fc.label :nsfw_sexuality %>
      <%= fc.check_box :nsfw_sexuality %>
    <% end %>
    <%= f.submit t(".save_changes"), class: "btn btn-green btn-full-width" %>
  <% end %>
</div>
