<div id="edit-user-container">
  <%= form_for @user do |f| %>
    <%= f.number_field :avatar_id, placeholder: t(".profile_picture_image_id"), class: "user-profile-picture-field" %>

    <%= f.fields_for :user_page do |pf| %>
      <%= pf.text_area :body, autocomplete: false, placeholder: t(".user_bio"), class: "user-bio-field" %>
      <%= pf.hidden_field :id %>
    <% end %>

    <%= f.number_field :page_pref, placeholder: t(".images_per_page"), class: "page-pref-field" %>

    <%= f.submit t(".save_changes"), class: "btn btn-green btn-full-width" %>
  <% end %>
</div>
