<%- title t(".edit_page_title") %>

<div class="fields-page-container">
  <%= form_for @user do |f| %>

    <div class="field-container">
      <div id="avatar-uploader-thumbnail-container">
        <%= f.file_field :avatar, id: "avatar-uploader" %>
        
        <% if @user.avatar %>
          <%= image_tag @user.avatar_img %>
        <% end %>
      </div>

    </div>

    <div class="field-container">
      <%= f.fields_for :user_page do |pf| %>
        <%= pf.label :body, t(".user_bio"), class: "label input-empty", for: "user-bio-field" %>
        <%= pf.text_area :body, autocomplete: false, id: "user-bio-field", class: "input" %>
        <%= pf.hidden_field :id %>
      <% end %>
    </div>

    <div class="field-container">
      <%= f.label :page_pref, t(".images_per_page"), class: "label input-empty", for: "page-pref-field" %>
      <%= f.number_field :page_pref, id: "page-pref-field", class: "input" %>
    </div>

    <% if @user.otp_required_for_login %>
      <%= form_tag disable_twofactor_user(@user), method: :post do |f| %>
        <%= f.submit "Disable 2Factor Authentication %>
      <% end %>
    <% else %>
      <%= form_tag enable_twofactor_user(@user), method: :post, do |f| %>
        <%= f.submit "Enable 2factor Authentication" %>
      <% end %>
    <% end %> 
    <div class="field-container">
      <p><%= t(".show_content_labeled_as") %></p>

      <%= f.fields_for :content_pref, OpenStruct.new(@user.content_pref) do |fc| %>
        <div class="checkbox-container">
          <%= fc.check_box :nsfw_gore %>
          <%= fc.label :nsfw_gore, t(".nsfw_gore") %>
        </div>

        <div class="checkbox-container">
          <%= fc.check_box :nsfw_language %>
          <%= fc.label :nsfw_language, t(".nsfw_language") %>
        </div>

        <div class="checkbox-container">
          <%= fc.check_box :nsfw_nudity %>
          <%= fc.label :nsfw_nudity, t(".nsfw_nudity") %>
        </div>

        <div class="checkbox-container">
          <%= fc.check_box :nsfw_sexuality %>
          <%= fc.label :nsfw_sexuality, t(".nsfw_sexuality") %>
        </div>
      <% end %>
    </div>

    <%= f.submit t(".save_changes"), class: "btn-minimal btn-minimal-green btn-right-aligned" %>
  <% end %>
</div>
