<%- title t(".edit_page_title") %>

<div class="fields-page-container">
  <%= form_for @user do |f| %>

    <div class="field-container">
      <div id="avatar-uploader-container">
        <%= f.file_field :avatar, id: "avatar-uploader" %>
        
        <div id="avatar-uploader-thumbnail">
          <% if @user.avatar %>
            <%= image_tag @user.avatar_img %>
          <% end %>
        </div>

        Upload a new picture
      </div>
    </div>

    <div class="field-container">
        <%= f.label :description, t(".user_bio"), class: "label input-empty", for: "user-bio-field" %>
        <%= f.text_area :description, autocomplete: false, id: "user-bio-field", class: "input" %>
    </div>

    <div class="field-container">
      <%= f.label :page_pref, t(".images_per_page"), class: "label input-empty", for: "page-pref-field" %>
      <%= f.number_field :page_pref, id: "page-pref-field", class: "input" %>
    </div>

    <div class="field-container">
      <h3 class="generic-smallcaps-title">Content filters</h3>

      <%= f.fields_for :content_pref, OpenStruct.new(@user.content_pref) do |fc| %>
        <div class="checkbox-container">
          <%= fc.check_box :nsfw_gore %>
          <%= fc.label :nsfw_gore, t(".nsfw_gore") %>
        </div>

        <div class="checkbox-container">
          <%= fc.check_box :nsfw_language %>
          <%= fc.label :nsfw_language, t(".nsfw_language") %>
        </div>

        <div class="checkbox-container">
          <%= fc.check_box :nsfw_nudity %>
          <%= fc.label :nsfw_nudity, t(".nsfw_nudity") %>
        </div>

        <div class="checkbox-container">
          <%= fc.check_box :nsfw_sexuality %>
          <%= fc.label :nsfw_sexuality, t(".nsfw_sexuality") %>
        </div>
      <% end %>
    </div>

    <div class="field-container">
      <h3 class="generic-smallcaps-title">Two-Factor Authentication</h3>

      <% if @user.otp_required_for_login %>
        <p>Two-Factor Authentication is currently enabled.</p>

        <%= link_to "Disable Two-Factor Authentication", disable_twofactor_user_path(@user), method: :put %>

        <%= link_to "View backup codes", backup_twofactor_user_path(@user) %>
      <% else %>

        <%= link_to "Enable Two-Factor Authentication", enable_twofactor_user_path(@user), method: :put %>
      <% end %>
    </div>

    <%= f.submit t(".save_changes"), class: "btn-minimal btn-minimal-green btn-right-aligned" %>
  <% end %>

</div>
