<%- title @user.name %>

<div id="user-page-container">
  <div id="user-page-header">

    <div class="user-page-information">
      <div id="user-page-profile-picture">
        <% if @user.avatar %>
          <%= image_tag @user.avatar_img %>
        <% end %>
      </div>

      <div class="user-page-text">
        <div class="user-page-username"><%= @user.name %></div>

        <%# User's website goes here. %>

        <%# User bio %>
        <% if @user.user_page.display != "" %>
          <div class="user-page-bio">
            <%= @user.user_page.display.html_safe %>
          </div>

        <% elsif current_user == @user %>
          <div class="user-page-bio inactive">
            <%= t(".user_page_bio_empty") %>
          </div>
        <% end %>

        <div class="user-page-website"></div>

        <%# Only show "edit" button if the page belongs to the current user. %>
        <% if current_user == @user %>
          <div class="user-page-bio-edit">
            <%= link_to t(".edit"), edit_user_path %>
          </div>
        <% end %>

        <%# Only show "follow" if the page does not belong to the current user. %>
        <% if current_user != @user %>
          <div class="user-page-follow">
            <%# <%= link_to t(".follow"), follow_user_path %>
          </div>
        <% end %>
      </div>
    </div>

      <ul id="user-page-header-tabs">
        <li data-tab="tab-1" class="user-page-header-tab current"><%= t(".uploads", count: @uploads.count) %>
        <li data-tab="tab-2" class="user-page-header-tab"><%= t(".creations") %>
        <li data-tab="tab-3" class="user-page-header-tab"><%= t(".collections", count: @collections.subjective.count) %>
      </ul>

  </div>


  <div id="user-content-container">

    <div id="user-uploads-container" class="tab-content tc-tab-1 current">
      <%= render 'images/show_stub', images: @uploads %>
    </div>

    <div id="user-creations-container" class="tab-content tc-tab-2">
      <!-- Creations go here -->
    </div>

    <div id="user-collections-container" class="tab-content tc-tab-3">
      <% @collections.subjective.each do |c| %>
        <%= render "collection_stub", c: c %>
      <% end %>
    </div>
  
  </div>
</div>
