<%- title t(".twofactor_authentication_setup") %>

<div class="imagehex-static-page-container">
  <h2><%= t(".twofactor_authentication_setup") %></h2>

  <div class="imagehex-static-text">
    <div class="twofactor-container">
      <%= image_tag verify_twofactor_user_url(@user, format: :gif), class: "twofactor-qr-code" %>
    </div>

    Scan the barcode and enter the resulting code in the form below:

    <%= form_tag(confirm_twofactor_user_path(@user), method: :put) do %>
      <%= text_field_tag :otp_key %>
      <%= button_tag :submit %>
    <% end %>
  </div>
</div>
