<%# Pass in a reportable as a subject and this will make a form to %>
<%# report that subject %>

<div id="report-form" data-showon="#img-action-report">
  <%= form_tag(url) do  %>
    <% Report.severities.each do |k, v| %>
      <%= k.humanize %> <%= radio_button_tag("report[severity]", k) %>
    <% end %>
    <%= text_field_tag "report[message]" %>
    <%= submit_tag %>
 <% end %>
</div>
