<%# Pass in a reportable as a subject and this will make a form to %>
<%# report that subject %>

<p class="tooltip-title"><%= t(".report") %>
<div id="report-form">
  <%= form_tag(url) do %>  
    <p><%= t(".reason_for_report") %>

    <% ImageReport.reasons.each do |k, v| %>
      <div class="report-row">
        <%= radio_button_tag("report[reason]", k) %>
        <%= label "report[reason]", k, k.humanize %>
      </div>
    <% end %>
    
    <p><%= t(".extra_information") %></p>
    <%= text_area_tag "report[message]" %>

    <div class="report-buttons">
      <%= button_tag t(".cancel"), type: :reset, id: "report-cancel-button" %>
      <%= submit_tag t(".report") %>
    </div>
  <% end %>
</div>
