<%# Pass in a reportable as a subject and this will make a form to %>
<%# report that subject %>

<div id="report-form" data-showon="#img-action-report">
  <%= form_tag(url) do %>
    
    <p>Reason for report:</p>

    <% Report.severities.each do |k, v| %>
      <div class="report-row">
        <%= radio_button_tag("report[severity]", k) %>
        <%= label "report[severity]", k, k.humanize %>
      </div>
    <% end %>
    
    <p>Extra information (optional):</p>
    <%= text_area_tag "report[message]" %>

    <%= button_tag "Cancel", type: :reset %>
    <%= submit_tag "Submit" %>
  <% end %>
</div>
