<%# Pass in a reportable as a subject and this will make a form to %>
<%# report that subject %>

<div id="report-form" data-showon="#img-action-report">
  <%= form_tag(url) do %>
    
    <p><%= t(".reason_for_report") %>

    <% Report.severities.each do |k, v| %>
      <div class="report-row">
        <%= radio_button_tag("report[severity]", k) %>
        <%= label "report[severity]", k, k.humanize %>
      </div>
    <% end %>
    
    <p><%= t(".extra_information") %>
    <%= text_area_tag "report[message]" %>

    <%= button_tag t(".cancel"), type: :reset %>
    <%= submit_tag t(".report") %>
  <% end %>
</div>
