<%# Pass in a reportable as a subject and this will make a form to %>
<%# report that subject %>

<div id="report-form" data-showon="#img-action-report">
  <%= form_tag(url) do  %>
    <% Report.severities.each do |k, v| %>
      <%= radio_button_tag("report[severity]", k) %>
      <%= label "report[severity]", k, k.humanize %>
    <% end %>
    <%= text_field_tag "report[message]" %>
    <%= submit_tag %>
  <% end %>
</div>
