<li class="reference-group-fields show-order">
  <div class="reference-group-header">
    <h3>Description</h3>
    <div class="description markdown-description">
      <%= markdown_parse reference.description %>
    </div>
  </div>
  <div class="references-outer">
    <h3>Reference Images</h3>
    <ul class="reference-images-list">
      <% reference.images.each do |img| %>
        <li class="reference-image-item flex-row">
          <div class="img-wrapper">
            <%= link_to img.img.url do %>
              <%= image_tag img.img(:medium) %>
            <% end %>
          </div>
          <div class="flex-column">
            <% unless img.description.blank? %>
              <div class="description markdown-description">
                <%= markdown_parse img.description %>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="order-group-container">
      <div class="generic-tag-group">
        <ul class="generic-tag-list">
          <% reference.tags.each do |t| %>
            <li class="generic-tag"><%= link_to t.name, t %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</li>
