<div id="order-show" class="flex-column">
  <% if @order.rejected %>
    <div class="warning-dialogue">
      <div class="warning-dialogue-icon"></div>
      <span>Order rejected on </span><%= time_tag @order.rejected_at %>
  </div>
<% end %>

 <h1 class="generic-center-header">
    <%= @order.name %>
  </h1>


  <div class="order-description white-listing-box">
    <%= markdown_parse @order.description %>
  </div>

  <ul class="order-group-list">
    <%= render partial: "group", collection: @order.groups %>
  </ul>


  <% if policy(@order).confirm? %>
    <%= form_tag confirm_listing_order_path(@listing, @order) do  %>
      <%= submit_tag "Confirm Order", class: "checkmark-submit-button order-confirm-button" %>
    <% end %>
  <% end %>

    <% if policy(@order).accept? %>
      <%= form_tag accept_listing_order_path(@listing, @order),
        method: :post, 
        :class => "order-confirm-form flex-row" do %>
        <%= react_component("QuotePicker") %>
        <%= submit_tag "Accept Order", class: "btn btn-green btn-check" %>
        <% end %>
      <% end %>

    <% if policy(@order).reject? %>
      <%= form_tag reject_listing_order_path(@listing, @order),
        method: :post, :class => "order-reject-form flex-row" do %>
        <%= submit_tag("Reject Order",
          :class => "order-reject-button") %>
      <% end %>
    <% end %>

      <% if policy(@order).purchase? %>
        <%= form_tag purchase_listing_order_path(@listing, @order),
          :class => "flex-column",
          method: :post do %>
            <script
              src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-amount="<%= @order.final_price %>"
              data-name="Commission from <%= escape_javascript(@listing.user.name) %>"
              data-image="<%= @listing.user.avatar.url(:tiny) %>"
              data-locale="auto"> 
            </script>
        <% end %>
      <% end %>


      <% if policy(@order).fill? %>
        <%= form_tag fill_listing_order_path(@listing, @order),
          action: :post do %>
          <%= react_component("OrderFiller", 
          {chargeTime: @order.charged_at,
            order_id: @order.id}) %>
          <% end %>
        <% end %>

        <% if @order.filled? %>
          <div id="filled-order">
            <%= link_to @order.image do %>
              <%= image_tag @order.image.f(:medium) %>
            <% end %>
          </div>
        <% end %>
    </div>
