<div id="order-show" class="flex-column">
  <div class="order-description white-listing-box">
    <%= markdown_parse @order.description %>
  </div>

  <ul class="order-category-list">
    <% @order.references_by_category.each do |k, v| %>
      <%= render 'category', category: k, references: v %>
    <% end %>
  </ul>

  <div class="show-listing-options-section">
    <h2 class="padded-dark-header">
      Options
    </h2>
    <% unless @order.options.empty? %>
      <ul class="show-listing-options-list">
        <% @order.options.each do |opt| %>
          <li class="options-item">
            <div class="options-header">
              <h3>
                <%= opt.name %>
              </h3>
            </div>
            <div class="description markdown-description">
              <%= markdown_parse opt.description %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      No options selected
    <% end %>
  </div>



  <% if policy(@order).confirm? %>
    <%= link_to confirm_listing_order_path(@listing, @order), 
      method: :post, 
      confirm: "Are you sure?",
      :class =>  "checkmark-submit-button order-confirm-button" do %>
        Confirm order
        <% unless @order.listing.quote_only? %>
          for <%= price @order.calculated_final_price %>
        <% end %>
      <% end %>
    <% end %>

    <% if policy(@order).accept? %>
      <%= form_tag accept_listing_order_path(@listing, @order),
        method: :post, 
        :class => "order-confirm-form flex-row" do %>
          <% if @listing.quote_only? %>
            <%= react_component("QuotePicker") %>
          <% end %>
          <%= submit_tag("Accept Order", :class => "checkmark-submit-button order-confirm-button") %>
        <% end %>
      <% end %>

    <% if policy(@order).reject? %>
      <%= form_tag reject_listing_order_path(@listing, @order),
        method: :post, :class => "order-reject-form flex-row" do %>
        <%= submit_tag("Reject Order",
          :class => "order-reject-button") %>
      <% end %>
    <% end %>

      <% if policy(@order).purchase? %>
        <%= form_tag purchase_listing_order_path(@listing, @order),
          :class => "flex-column",
          method: :post do %>
            <script
              src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-amount="<%= @order.final_price %>"
              data-name="Commission from <%= escape_javascript(@listing.user.name) %>"
              data-image="<%= @listing.user.avatar(:tiny) %>"
              data-locale="auto"> 
            </script>
        <% end %>
      <% end %>


      <% if policy(@order).fill? %>
        <%= form_tag fill_listing_order_path(@listing, @order),
          action: :post do %>
          <%= react_component("OrderFiller", 
          {chargeTime: @order.charged_at,
            order_id: @order.id}) %>
          <% end %>
        <% end %>

        <% if @order.filled? %>
          <div id="filled-order">
            <%= link_to @order.image do %>
              <%= image_tag @order.image.f(:medium) %>
            <% end %>
          </div>
        <% end %>
    </div>
