<%- title @tag.name %>

<%= cache @tag, expires_in: 4.hours do %>
  <div class="tag-information">
    <header>
      <h1 class="tag-breadcrumb">
        <%= link_to "Tags", tags_path %>
      </h1>
      <h1><%= @tag.name %></h1>
      <%= link_to t(".edit"), edit_tag_path(@tag), class: "tag-edit-link" %>
    </header>

    <div class="tag-description">
      <%= markdown_parse @tag.description %>
    </div>

    <% unless @neighbors.blank? %>
      <div class="related-tags">
        <h3><%= t(".related_tags") %></h3>
        <ul>
          <% @neighbors.each do |n| %>
            <li class="related-tag">
              <%= link_to n do %>
                <span class="related-tag-name"><%= n.name %></span>
                <span class="related-tag-count">(<%= n.count %>)</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
<%= render 'discussion' %>

<%= render 'images/show_stub', images: @images %>
