<%- title @tag.name %>

<div id="tag-information">
  <% cache @tag, expires_in: 4.hours do %> 
  <header>
  <h1><%= @tag.name %></h1>
  <%= link_to t(".edit"), edit_tag_path(@tag), id: "tag-edit-link" %>
  </header> 
  <div id="tag-description">
    <%= markdown_parse @tag.description %>
  </div>
  <% unless @neighbors.blank? %>
    <div id="tag-neighbors">
      <h3> Related Tags </h3>
      <ul>
        <% @neighbors.each do |n| %>
          <li class="tag-neighbor-item">

          <%= link_to n do %>
            <span class="tag-neighbor-name">
              <%= n.name %>
            </span>
            <span class="tag-neighbor-count">
              (<%= n.count %>)
            </span>

          <% end %>
          </li>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
  <%= render 'images/show_stub', images: @images %>
