<li class="subscription-item">
  <div class="subscription-item-header">
    <%= link_to img.reason, frontpage_reason_path(img) %>
    <span><%= time_tag img.sort_created_at %></span>
  </div>
  <%= link_to image_path(img), {class: "subscription-item-image"} do %>
    <%= render 'shared/responsive_image', img: img %>
  <% end %>
  <% unless img.creators.empty? %>
    <ul class="subscription-item-footer">
      <% img.creators.each do |c| %>
        <li class="subscription-creators-item">
          <%= link_to c do %>
            <%= image_tag(c.avatar_img_thumb, class: "subscription-avatar") %>
            <span><%= c.name %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>
