<%# This space intentionally left blank. No title needed for the home page. %>
<div class="home-container">
  <nav class="home-create-buttons generic-card">
    <%= link_to new_image_path do %>
      <%= image_tag "icons/upload.svg" %>
      <span>Image</span>
    <% end %>
    <%= link_to new_note_path do %>
      <%= image_tag "icons/quote.svg" %>
      <span>Note</span>
    <% end %>
    <%= link_to new_collection_path do %>
      <%= image_tag "icons/collection.svg" %>
      <span>Collection</span>
    <% end %>
    <%= link_to new_listing_path do %>
      <%= image_tag "icons/listings.svg" %>
      <span>Listing</span>
    <% end %>

  </nav>
  <%= react_component("Dashboard",
    render(file: "frontpage/index_with_user.json.jbuilder")) %>
</div>
