<%# This space intentionally left blank. No title needed for the home page. %>
<div class="home-container">
  <div class="frontpage-logo">
    <img src=<%= asset_path("logo/imagehex-color-black-text.svg") %> alt="<%= t(".imagehex") %>">
  </div>

  <ul class="frontpage-subscription-container">
    <% @images.each do |img| %>
      <li class="subscription-item generic-container">
        <div class="subscription-item-header">
          <%= link_to img.reason, frontpage_reason_path(img) %>
        </div>
        <%= link_to image_path(img), {class: "subscription-item-image"} do %>
          <%= render 'shared/responsive_image', img: img %>
        <% end %> 
        <% unless img.creators.empty? %>
          <div class="subscription-item-footer">
            <%= t(".created_by_html",
              creators_list: img.creators.collect { |creator| link_to(creator.name, creator) }.join(",").html_safe ) %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= will_paginate @images %>
</div>
