<div class="fields-page-container">

  <%= form_for @product do |f| %>
    <div class="field-container" id="commission-product-name-field">
      <%= f.label :name, class: "label input-empty" %>
      <%= f.text_field :name, class: "input" %>
    </div>
    
    <div class="field-container" id="commission-product-description-field">
      <%= f.label :description, class: "label input-empty" %>
      <%= f.text_area :description, class: "input" %>
    </div>
    <div class="field-container" id="commission-product-weeeks-to-completion-field">
      <%= f.label :weeks_to_completion %>
      <%= f.number_field :weeks_to_completion, min: 1, max: 52 %>
    </div>   
    <div class="field-container" id="commission-product-base-price">
      <%= react_component('CurrencyInputField', initialValue: @product.base_price, name: "commission_product[base_price]", :label => "Base Price", min: 3.50) %>
    </div>

    <div class="field-container" id="commission-product-background">
      <%= react_component("ProductBackgroundInput", price: @product.background_price, offerBackground: @product.offer_background, includeBackground: @product.include_background) %>
    </div>

    <div class="field-container" id="commission-product-subjects">
      <%= react_component("ProductSubjectInput", price: @product.subject_price, includedSubjects: @product.included_subjects, offerSubjects: @product.offer_subjects, maximumSubjects: @product.maximum_subjects) %>
    </div>

    <%= f.submit t(".create_commission_product"), class: "btn btn-green btn-full-width" %>
  <% end %> 
</div>
