<div class="tag-group-change">
  <h1><%= link_to change.user.name, change.user %></h1>
  <h2><%= pretty_time change.created_at %></h2>
  
  <ul class="change-list">
    <% change.unchanged_tags.each do |t| %>
      <li class="unchanged-tag"><%= link_to t.display_name, t %></li>
    <% end %>
    <% change.removed_tags.each do |t| %>
      <li class="removed-tag"><%= link_to t.display_name, t %></li>
    <% end %>
    <% change.added_tags.each do |t| %>
      <li class="added-tag"><%= link_to t.display_name, t %></li>
    <% end %>
  </ul>
</div>
