<div class="image-actions-sidebar">
  <div class="image-actions-container">

    <% if @image.public_domain? %>
      <a href="#">
        <div class="image-actions" id="img-action-download">
          <span class="icon icon-medium icon-download"></span>
          <p><%= t(".download") %>
        </div>
      </a>
    <% end %>

    <div class="image-actions-favorite-container">
      <% if current_user && current_user.favorited?(@image) %>
        <div class="image-actions inactive" id="img-action-favorite">
          <%= link_to favorite_image_path(@image), method: :post, remote: true do %>
            <span class="icon icon-medium icon-favorite"></span>
            <p><%= t(".favorite") %></p>
          <% end %>
        </div>

        <div class="image-actions active" id="img-action-favorited">
          <%= link_to unfavorite_image_path(@image), method: :delete, remote: true do %>
            <span class="icon icon-medium icon-favorited"></span>
            <p><%= t(".favorited") %></p>
          <% end %>
        </div>

      <% else %>

        <div class="image-actions active" id="img-action-favorite">
          <%= link_to favorite_image_path(@image), method: :post, remote: true do %>
            <span class="icon icon-medium icon-favorite"></span>
            <p><%= t(".favorite") %></p>
          <% end %>
        </div>

        <div class="image-actions inactive" id="img-action-favorited">
          <%= link_to unfavorite_image_path(@image), method: :delete, remote: true do %>
            <span class="icon icon-medium icon-favorited"></span>
            <p><%= t(".favorited") %></p>
          <% end %>
        </div>

      <% end %>
    </div>

    <a href="#">
      <div class="image-actions" id="img-action-collection">
        <span class="icon icon-medium icon-add"></span>
        <p><%= t(".add_to_collection") %>
      </div>
    </a>
    <%= render 'collection_select' if current_user %>

    <a href="#">
      <div class="image-actions" id="img-action-share">
        <span class="icon icon-medium icon-share"></span>
        <p><%= t(".share") %>
      </div>
    </a>

    <a href="#">
      <div class="image-actions" id="img-action-report">
        <span class="icon icon-medium icon-report"></span>
        <p><%= t(".report") %>
      </div>
    </a>
    <%= render "shared/report_stub", subject: @image, url: report_image_path(@image) if current_user %>

    <% if current_user.admin? %>
      <%= link_to admin_image_path(@image), method: :delete do %>
        <div class="image-actions" id="img-action-delete">
          <span class="icon icon-medium icon-delete"></span>
          <p><%= t(".delete") %>
        </div>
      <% end %>
    <% end %>

  </div>

</div>
