<div id="image-page-toolbar">
  <div id="image-details-left">
    <div id="image-details-button">
      Info
    </div>

    <div id="image-info">
      <div class="two-column">
        <h3>
          License
        </h3>
        <span>
          <%= t("activerecord.attributes.licenses.#{@image.license}") %>
        </span>
      </div>
      <div class="two-column">
        <h3>
          Medium
        </h3>
        <span>
          <%= t("activerecord.attributes.mediums.#{@image.medium}") %>
        </span>
      </div>
      <div class="two-column">
        <h3>
          Content
        </h3>
        <ul class="content-list">
          <% if @image.content_warnings.blank? %>
            <li class="clean">Clean</li>
          <% else %>
            <% @image.content_warnings.each do |content| %>
              <li class="content-rating">
                <%= t(".content_ratings.#{content}") %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

  </div>

  <div>
    <% if current_user %>
      <%# Add a tag group %>
      <div id="add-tag-group-button"
        data-image_id="<%= @image.id %>">
        <%= t(".add_a_tag_group") %>
      </div>
    <% end %>
  </div>
</div>
