<div id="image-page-toolbar">
  <div class="left">
    <%# Add a tag group %>
    <div id="add-tag-group-button">
      <%= t(".add_a_tag_group") %>
    </div>
  </div>

  <div class="right">
    <%# Help %>
    <div id="image-help-button">
      <%= t(".help") %>
    </div>

    <%# Info %>
    <div id="image-details">
      <div id="image-details-button">
        <%= t(".details") %>
      </div>

      <%# Metadata table %>
      <%# Display of the table is toggled when the info button is clicked. %>
      <div data-showon="#image-details-button" class="toolbar-tooltip" id="image-details-tooltip">
        <table class="image-details-table">
          <tbody>

            <tr class="table-row">
              <td class="column-one-cell">Date taken</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Dimensions</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">File name</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">File size</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Medium</td>
              <td class="column-two-cell"><%= t("activerecord.attributes.mediums.#{@image.medium}") %></td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">License</td>
              <td class="column-two-cell"><%= t("activerecord.attributes.licenses.#{@image.license}") %></td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Camera</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Lens</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Focal Length</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Exposure</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">F Number</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">ISO</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Flash</td>
              <td class="column-two-cell">-</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <%# Edit history button %>
    <div id="edit-history-button">
      <%= t(".view_edit_history") %>
    </div>
  </div>

</div>
