<div class="image-actions-sidebar">
  <div class="image-actions-container">

    <%# Download %>
    <%# Only accessible when image is available under certain, non-restrictive licenses. %>
    <% if @image.public_domain? %>
      <a href="<%= @image.f %>" download>
        <div class="image-actions" id="img-action-download">
          <span class="icon icon-medium icon-download"></span>
          <p><%= t(".download") %>
        </div>
      </a>

    <% elsif @image.cc_by_sa? %>
      <a href="#" id="img-action-download">
        <div class="image-actions">
          <span class="icon icon-medium icon-download"></span>
          <p><%= t(".download") %>
        </div>
      </a>

      <div data-showon="#img-action-download" class="image-actions-tooltip" id="img-action-download-tooltip">
        <p>This image has been made available under the terms of the <%= t("activerecord.attributes.licenses.#{@image.license}") %> license. You must credit the creator of this image if you use it in any form.</p>

        <a href="<%= @image.f %>" download>
          <div class="agree-button">
            Agree and Download
          </div>
        </a>
      </div>
    <% end %>

    <%# Favorite/Favorited %>
    <%# Initial state determined automatically by Rails. %>
    <%# Switches between the two on successful contact with server (as determined via JavaScript). %>
    <div class="image-actions-favorite-container">
      <% if current_user && current_user.favorited?(@image) %>
        <div class="image-actions inactive" id="img-action-favorite">
          <%= link_to favorite_image_path(@image), method: :post, remote: true do %>
            <span class="icon icon-medium icon-favorite"></span>
            <p><%= t(".favorite") %></p>
          <% end %>
        </div>

        <div class="image-actions active" id="img-action-favorited">
          <%= link_to unfavorite_image_path(@image), method: :delete, remote: true do %>
            <span class="icon icon-medium icon-favorited"></span>
            <p><%= t(".favorited") %></p>
          <% end %>
        </div>

      <% else %>

        <div class="image-actions active" id="img-action-favorite">
          <%= link_to favorite_image_path(@image), method: :post, remote: true do %>
            <span class="icon icon-medium icon-favorite"></span>
            <p><%= t(".favorite") %></p>
          <% end %>
        </div>

        <div class="image-actions inactive" id="img-action-favorited">
          <%= link_to unfavorite_image_path(@image), method: :delete, remote: true do %>
            <span class="icon icon-medium icon-favorited"></span>
            <p><%= t(".favorited") %></p>
          <% end %>
        </div>

      <% end %>
    </div>

    <%# Add to collection %>
    <a href="#">
      <div class="image-actions" id="img-action-collection">
        <span class="icon icon-medium icon-add"></span>
        <p><%= t(".add_to_collection") %>
      </div>

      <div data-showon="#img-action-collection" class="image-actions-tooltip" id="img-action-collection-tooltip">
        <%= render 'collection_select' if current_user %>
      </div>
    </a>

    <%# Share %>
    <a href="#">
      <div class="image-actions" id="img-action-share">
        <span class="icon icon-medium icon-share"></span>
        <p><%= t(".share") %>
      </div>
    </a>

    <%# Report %>
    <a href="#">
      <div class="image-actions" id="img-action-report">
        <span class="icon icon-medium icon-report"></span>
        <p><%= t(".report") %>
      </div>

      <div data-showon="#img-action-report" class="image-actions-tooltip" id="img-action-report-tooltip">
        <%= render "shared/report_stub", subject: @image, url: report_image_path(@image) if current_user %>
      </div>
    </a>

    <%# Delete %>
    <%# Only accessible to users with admin privileges. %>
    <% if current_user && current_user.admin? %>
      <%= link_to admin_image_path(@image), method: :delete do %>
        <div class="image-actions" id="img-action-delete">
          <span class="icon icon-medium icon-delete"></span>
          <p><%= t(".delete") %>
        </div>
      <% end %>
    <% end %>

  </div>

</div>
