<div class="image-page-information">
  <div class="comment-container">

    <h3>Uploader</h3>
    <div class="image-uploader-info">
      <%= image_tag(@image.user.avatar_img_thumb) %>
      <span>
        <%= link_to @image.user.name, @image.user %>
        on <%= time_tag(@image.created_at) %>
        <% unless @image.source.blank? %> 
          <div class="image-source-link">
            <span>Source:</span>
            <%= link_to @image.source_display, @image.source_link %>
          </div>
        <% end %>
      </span>
    </div>

    <% unless @image.description.blank? %>
      <hr>
      <h3>Description</h3>
      <div class="image-description">
        <%= markdown_parse @image.description %>
      </div>
    <% end %>
    <% unless @image.creators.blank? %>
      <%= render 'image_page_creator_info' %>
    <% end %>
    <hr>

    <%# Render the comments partial with @image.comments as the subject. %>
    <%= render "shared/comments", comments: @image.comments %>

    <%# New comment section, only appears for users who are signed-in. %>
    <% if user_signed_in? %>
      <%= form_tag(comment_image_path(@image), {class: "comment-form"}) do %>
        <%= text_area(:comment, :body, class: 'new-comment', :required => true, placeholder: t(".add_a_comment")) %>

        <div class="new-comment-buttons">
          <%= button_tag t(".cancel"), type: :reset %>
          <%= submit_tag t(".submit") %>
        </div>
      <% end %>
    <% end %>

  </div>

  <% @image.tag_groups.for_display.each do |group| %>
    <%= render "tag_groups/show_stub", tag_group: group %>
  <% end %>

</div>
