<div id="image-page-toolbar">
  <div class="left">
    <%# Add a tag group %>
    <div id="add-tag-group-button">
      <%= t(".add_a_tag_group") %>
    </div>
  </div>

  <div class="right">
    <%# Help %>
    <div id="image-help-button">
      <%= t(".help") %>
    </div>

    <%# Info %>
    <div id="image-details">
      <div id="image-details-button">
        <%= t(".details") %>
      </div>

      <%# Metadata table %>
      <%# Display of the table is toggled when the info button is clicked. %>
      <div data-showon="#image-details-button" data-clickoutside="true" class="toolbar-tooltip" id="image-details-tooltip">
        <table class="image-details-table">
          <tbody>

            <tr class="table-row active" id="details-table-row-license">
              <td class="column-one-cell"><%= t(".license") %></td>
              <td class="column-two-cell"><%= t("activerecord.attributes.licenses.#{@image.license}") %></td>
            </tr>

            <tr class="table-row active" id="details-table-row-medium">
              <td class="column-one-cell"><%= t(".medium") %></td>
              <td class="column-two-cell"><%= t("activerecord.attributes.mediums.#{@image.medium}") %></td>
            </tr>

            <tr class="table-row active" id="details-table-row-content-ratings">
              <td class="column-one-cell"><%= t(".content_rating") %></td>
              <td class="column-two-cell">
                <ul>
                  <% if @image.nsfw_gore? %>
                    <li><%= t(".content_ratings.nsfw_gore") %>
                  <% end %>

                  <% if @image.nsfw_language? %>
                    <li><%= t(".content_ratings.nsfw_language") %>
                  <% end %>

                  <% if @image.nsfw_sexuality? %>
                    <li><%= t(".content_ratings.nsfw_sexuality") %>
                  <% end %>

                  <% if @image.nsfw_nudity? %>
                    <li><%= t(".content_ratings.nsfw_nudity") %>
                  <% end %>

                  <% if !@image.nsfw_gore? && !@image.nsfw_language? && !@image.nsfw_sexuality? && !@image.nsfw_nudity? %>
                    <%= t(".content_ratings.clean") %>
                  <% end %>
                </ul>
              </td>
            </tr>

            <tr class="table-row inactive" id="details-table-row-date-taken">
              <td class="column-one-cell"><%= t(".date_taken") %></td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row inactive" id="details-table-dimensions">
              <td class="column-one-cell"><%= t(".dimensions") %></td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row active" id="details-table-row-file-name">
              <td class="column-one-cell"><%= t(".file_name") %></td>
              <td class="column-two-cell"><%= @image.f.original_filename %></td>
            </tr>

            <tr class="table-row inactive" id="details-table-row-file-size">
              <td class="column-one-cell"><%= t(".file_size") %></td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row inactive" id="details-table-row-camera">
              <td class="column-one-cell"><%= t(".camera") %></td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row inactive" id="details-table-row-lens">
              <td class="column-one-cell"><%= t(".lens") %></td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row inactive" id="details-table-row-focal-length">
              <td class="column-one-cell"><%= t(".focal_length") %></td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row inactive" id="details-table-row-exposure">
              <td class="column-one-cell"><%= t(".exposure") %></td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row inactive" id="details-table-row-f-number">
              <td class="column-one-cell"><%= t(".f_number") %></td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row inactive" id="details-table-row-iso">
              <td class="column-one-cell"><%= t(".iso") %></td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row inactive" id="details-table-row-flash">
              <td class="column-one-cell"><%= t(".flash") %></td>
              <td class="column-two-cell">-</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <%# Edit history button %>
    <div id="edit-history-button">
      <%= t(".view_edit_history") %>
    </div>
  </div>

</div>
