<div class="image-actions-sidebar">
  <div class="image-actions-container">

    <%# Download %>
    <%# Only accessible when image is available under certain, non-restrictive licenses. %>
    <% if @image.public_domain? %>
      <a href="<%= @image.f %>" download>
        <div class="image-actions" id="img-action-download">
          <span class="icon icon-medium icon-download"></span>
          <p><%= t(".download") %>
        </div>
      </a>

    <% elsif @image.cc_by_sa? %>
      <a href="#" id="img-action-download">
        <div class="image-actions">
          <span class="icon icon-medium icon-download"></span>
          <p><%= t(".download") %>
        </div>
      </a>

      <div data-showon="#img-action-download" class="image-actions-tooltip" id="img-action-download-tooltip">
        <p><%= t(".download_license_notice", license: t("activerecord.attributes.licenses.#{@image.license}")) %></p>

        <a href="<%= @image.f %>" download>
          <div class="agree-button">
            <%= t(".agree_and_download") %>
          </div>
        </a>
      </div>
    <% end %>

    <%# Favorite/Favorited %>
    <%# Initial state determined automatically by Rails. %>
    <%# Switches between the two on successful contact with server (as determined via JavaScript). %>
    <div class="image-actions-favorite-container" data-signed-in="ajax">
      <% if current_user && current_user.favorited?(@image) %>
        <div class="image-actions inactive" id="img-action-favorite">
          <%= link_to favorite_image_path(@image), method: :post, remote: true do %>
            <span class="icon icon-medium icon-favorite"></span>
            <p><%= t(".favorite") %></p>
          <% end %>
        </div>

        <div class="image-actions active" id="img-action-favorited" data-signed-in="ajax">
          <%= link_to unfavorite_image_path(@image), method: :delete, remote: true do %>
            <span class="icon icon-medium icon-favorited"></span>
            <p><%= t(".favorited") %></p>
          <% end %>
        </div>

      <% else %>

        <div class="image-actions active" id="img-action-favorite" data-signed-in="ajax">
          <%= link_to favorite_image_path(@image), method: :post, remote: true do %>
            <span class="icon icon-medium icon-favorite"></span>
            <p><%= t(".favorite") %></p>
          <% end %>
        </div>

        <div class="image-actions inactive" id="img-action-favorited" data-signed-in="ajax">
          <%= link_to unfavorite_image_path(@image), method: :delete, remote: true do %>
            <span class="icon icon-medium icon-favorited"></span>
            <p><%= t(".favorited") %></p>
          <% end %>
        </div>

      <% end %>
    </div>

    <%# Add to collection %>
    <% if user_signed_in? %>
      <a>
      <div class="image-actions" id="img-action-collection"
        data-image-id="<%= @image.id %>">
        <span class="icon icon-medium icon-add"></span>
        <p><%= t(".add_to_collection") %>
      </div>
    </a>
    <% end %>

    <%# Share %>
    <a href="#">
      <div class="image-actions" id="img-action-share">
        <span class="icon icon-medium icon-share"></span>
        <p><%= t(".share") %>
      </div>
    </a>

    <div class="image-actions-tooltip" id="img-action-share-tooltip" data-showon="#img-action-share" data-signed-in="showon">
      <p class="tooltip-title"><%= t(".share") %></p>
      <div class="share-icons-container">
        <div class="share-icon" id="share-facebook"><a href="#"></a></div>
        <div class="share-icon" id="share-twitter"><a href="#"></a></div>
        <div class="share-icon" id="share-google-plus"><a href="#"></a></div>
        <div class="share-icon" id="share-tumblr"><a href="#"></a></div>
        <div class="share-icon" id="share-pinterest"><a href="#"></a></div>
      </div>
    </div>

    <%# Report %>
    <a href="#">
      <div class="image-actions" id="img-action-report">
        <span class="icon icon-medium icon-report"></span>
        <p><%= t(".report") %>
      </div>

      <div class="image-actions-tooltip" id="img-action-report-tooltip" data-showon="#img-action-report" data-signed-in="showon">
        <%= render "shared/report_stub", subject: @image, url: report_image_path(@image) if current_user %>
      </div>
    </a>

    <%# Delete %>
    <%# Only accessible to users with admin privileges or the uploader for the first 24 hours after uploading an image. %>
    <% if policy(@image).destroy? %>
      <%= link_to image_path(@image), method: :delete do %>
        <div class="image-actions" id="img-action-delete">
          <span class="icon icon-medium icon-delete"></span>
          <p><%= t(".delete") %>
        </div>
      <% end %>
    <% end %>

  </div>

</div>
