<div id="image-page-information">

  <div id="comment-container">

    <div id="upload-info">
      <div class="uploader-avatar">
        <%= link_to @image.user do %>
          <% if @image.user.avatar %>
            <%= image_tag @image.user.avatar_img_thumb %>
          <% end %>
        <% end %>
      </div>
      <div class="image-description-container">
        <p class="image-uploader"><%= t(".uploaded_by") %> <%= link_to @image.user.name, @image.user %>
        <p class="image-upload-date"><span title="<%= @image.created_at %>"><%= @image.created_at.strftime("%B %e, %Y") %></span>

        <% unless @image.description.blank? %>
          <p class="image-description"><%= @image.description %>
        <% end %>

        <% if @image.source && !@image.source.blank? %>
          <p class="image-source-link"><%= t(".source") %> <%= link_to @image.source, @image.source %></p>
        <% end %>
      </div>

      <% unless @image.creators.blank? %>
        <%= render 'image_page_creator_info' %>
      <% end %>
    </div>

    <hr>

    <%# Render the comments partial with @image.comments as the subject. %>
    <%= render "shared/comments", comments: @image.comments %>

    <%# New comment section, only appears for users who are signed-in. %>
    <% if user_signed_in? %>
      <%= form_tag(comment_image_path(@image), {class: "comment-form"}) do %>
        <%= text_area(:comment, :body, class: 'new-comment', :required => true, placeholder: t(".add_a_comment")) %>

        <div class="new-comment-buttons">
          <%= button_tag t(".cancel"), type: :reset %>
          <%= submit_tag t(".submit") %>
        </div>
      <% end %>
    <% end %>

  </div>

  <% @image.tag_groups.for_display.each do |group| %>
    <%= render "tag_groups/show_stub", tag_group: group %>
  <% end %>

</div>
