<div id="image-show-stub" data-page="<%= images.try(:current_page) %>">
  <ul class="image-gallery">
    <% if images %>
      <% images.each_with_index do |img, i| %>
        <li class="image-gallery-item">
          <%= link_to image_path(img) do %>
            <picture>
              <source srcset="<%= img.f(:large) %>"
                media="(min-width: 1550px)">
              <source srcset="<%= img.f(:medium) %>" 
                media="(min-width: 930px)"> 
              <%= image_tag img.f(:medium) %>
            </picture>
          <% end %>
        </li>
      <% end %> 
    <% end %>
  </ul>
  <%= will_paginate images if images && !images.empty? %>
</div>
