<div id="image-show-stub" data-page="<%= images.try(:current_page) %>"
  data-infinite-scroll="<%= current_user.try(:use_infinite_scroll) %>"
  data-current-page="<%= images.try(:current_page) %>">

  <div class="image-gallery">
    <% if images %>
      <% images.each_with_index do |img, i| %>
        <div class="image-gallery-item">
          <%= link_to image_tag(img.f :medium), image_path(img) %>
        </div>
      <% end %> 
    <% end %>
  </div>
  <%= will_paginate images if images && !images.empty? %>
</div>
