<div id="upload-page-container">
  <h2><%= t(".upload_image") %></h2>

  <%= form_for @image, html: {id: "upload-form"} do |f| %>
    
    <div class="upload-container">
      <%# Start by generating select tags for enums %>
      <%# The License select is different from the %>
      <%# medium because the options are specially %>
      <%# capitalized. %>
      <div class="image-thumbnail-container">
        <div class="image-thumbnail"></div>
        <div class="image-file-name"></div>
      </div>

      <div class="select-container">
        <%= f.select :license, options_for_select(Image.license_attributes_for_select), {}, { :class => 'custom-select', :id => 'image-license-select' } %>
      </div>
      <%# Note that the above has a "{}" because %>
      <%# html-options needs to be invoked before %>
      <%# the CSS class can be used. %>

      <%# The Medium select input. %>
      <div class="select-container">
        <%= f.select :medium, options_for_select(Image.medium_attributes_for_select), {}, { :class => 'custom-select', :id => 'image-media-select' } %>
      </div>

      <div class="text-field-container">
        <%= f.text_field :description %>
      </div>
    </div>

    <div class="new-upload-container">

      <%# Add ":multiple => true" when we're ready for multi-image upload. %>
      <%= f.file_field :f, id: "file-field" %>

      <div class="top-half">
        <p><%= t(".drop_images_here_to_upload") %>
      </div>

      <hr>
      <p class="or"><%= t(".or") %>

      <div class="bottom-half">

        <div class="file-upload-coverup">
          <p><%= t(".click_here_to_choose") %>
        </div>
      </div>

    </div>

    <%= f.submit t(".submit"), id: "upload-submit-button", class: "btn btn-green btn-large" %>
  <% end %>
</div>
