<div id="image-page-top-container">

  <div class="image">
    <%= image_tag @image.f %>
  </div>

  <div class="image-actions-sidebar">
    <%# Whatever has the id of "report-show" is goign to show the report box %>
    <div id="report-show">Report Image</div>
    <%= render "shared/report_stub", subject: @image, url: report_image_path(@image)%>
    <div class="image-actions-container">
      <a href="#"><div class="image-actions" id="img-action-favorite">Favorite</div></a>
      <%# Whatever has the id of "collection-add" is going to display the
        add to collections form %>
      <div id="collection-add">Add to Collection</div>
      <%= render 'collection_select' %>
      <a href="#"><div class="image-actions" id="img-action-share">Share</div></a>
      <a href="#"><div class="image-actions" id="img-action-report">Report</div></a>
    </div>

  </div>

</div>

<div id="image-page-bottom-container">
  
  <%= link_to "New Tag Group", new_image_tag_group_path(@image) %>

  <% @image.tag_groups.each do |group| %>
    <%= render "tag_groups/show_stub", tag_group: group %>
  <% end %>
</div>
