<%- title t(".image_page_title", id: @image.id) %>

<div id="image-page-top-container">

    <div class="image">
      <%= image_tag @image.f.url %>
    </div>
  <%= render 'image_page_sidebar' %>

</div>
  <%= render 'image_page_toolbar' %>
<div id="image-page-bottom-container">

  <%= render 'image_page_information' %>
</div>

<%= content_for(:meta_og) do %>
  <meta property="og:title" content="<%= t(".image_page_title", id: @image.id) %>" />
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="<%= @image.f.url(:medium) %>"/>
  <meta property="og:url" content="<%= image_url(@image) %>"/>
  <meta property="og:site_name" content="ImageHex"/>
  <% @image.creators.each do |c| %>
    <meta property="og:author:username" content="<%= c.name %>"/>
  <% end %>
<% end %>
