<div id="image-page-top-container">

  <div class="image">
    <%= image_tag @image.f %>
  </div>

  <div class="image-actions-sidebar">
    <div class="image-actions-container">
      <%= link_to favorite_image_path(@image), method: :post, remote: true do %>
        <div class="image-actions" id="img-action-favorite">Favorite</div>
      <% end %>

      <a href="#"><div class="image-actions" id="img-action-collection">Add to Collection</div></a>
      <%= render 'collection_select' if current_user %>
      <a href="#"><div class="image-actions" id="img-action-share">Share</div></a>
      <a href="#"><div class="image-actions" id="img-action-report">Report</div></a>
      <%= render "shared/report_stub", subject: @image, url: report_image_path(@image) if current_user %>
    </div>

  </div>

</div>

<div id="image-page-bottom-container">
  <div id="new-group" data-showon="#new-group-button">
    <%= form_for [@image, @image.tag_groups.build] do |f| %>
      <%= f.text_field :tag_group_string %>
    <% end %>
  </div>
  
  <div id="new-group-button">
    New group
  </div>
  
  <% @groups.each do |group| %>
    <%= render "tag_groups/show_stub", tag_group: group %>
  <% end %>


  <p><%= @image.license %>

  <p><%= @image.medium.titleize %>


  <%= render "shared/comments", url: comment_image_path(@image), subject: @image %>
</div>
