<footer id="footer-container">
  <div id="footer">

  <%# ImageHex description text %>
    <div class="footer-description-column">
      <p class="footer-description-title"><%= t(".imagehex") %>
      <p class="footer-description-body"><%= t(".imagehex_description") %>
      <p class="footer-description-copyright"><%= t(".imagehex_copyright") %>
    </div>

    <%# "Company" footer column %>
    <div class="footer-links-column">
      <ul class="footer-links-list">
        <li><%= t(".company") %>
        <li><%= link_to t(".about"), about_path %>
        <li><%= link_to t(".people"), people_path %>
        <li><%= link_to t(".contact"), contact_path %>
      </ul>
    </div>
    
    <%# "Community" footer column %>
    <div class="footer-links-column">
      <ul class="footer-links-list">
        <li><%= t(".community") %>
        <li><a href="https://medium.com/imagehex-development-blog"><%= t(".blog") %></a>
        <li><a href="/help"><%= t(".help") %></a>
        <li><a href="/press"><%= t(".press") %></a>
        <!-- <li><a href="/status"><%= t(".status") %></a> -->
        <!-- <li><a href="/api"><%= t(".api") %></a> -->
      </ul>
    </div>
  </div>
</footer>
