<footer id="footer-container">
  <div id="footer">

    <div class="footer-description-column">
      <p class="footer-description-title">ImageHex
      <p class="footer-description-body">ImageHex is a place to search, share, and commission images and other artwork. We endeavour to be the best directory of images on the internet.
      <p class="footer-description-copyright">&copy; 2015 #noided Media
    </div>

    <div class="footer-links-column">
      <ul class="footer-links-list">
        <li><%= t(".company") %>
        <li><a href="/about"><%= t(".about") %></a>
        <li><a href="/people"><%= t(".people") %></a>
        <li><a href="https://medium.com/imagehex-development-blog"><%= t(".blog") %></a>
        <li><a href="/contact"><%= t(".contact") %></a>
      </ul>
    </div>

    <div class="footer-links-column">
      <ul class="footer-links-list">
        <li><%= t(".community") %>
        <li><a href="/help"><%= t(".help") %></a>
        <li><a href="/press"><%= t(".press") %></a>
        <li><a href="/status"><%= t(".status") %></a>
        <li><a href="/api"><%= t(".api") %></a>
      </ul>
    </div>
  </div>
</footer>