<header id="header-container">
  <div id="header-left">
    <div class="header-item" id="header-home">
      <%= link_to 'Home', root_path %>
    </div>
  </div>

  <div id="mobile-search-icon">
    <span class="icon icon-small icon-search"></span>
  </div>

  <div id="mobile-menu-icon">
    <span class="icon icon-small icon-menu"></span>
  </div>

  <div id="mobile-menu-overlay"></div>

  <div id="header-search">
    <form action="/search" method="get">
      <!-- Search icon -->
      <label for="header-search-input">
        <span class="icon icon-small icon-search"></span>
      </label>

      <!-- Search input -->
      <input type="search" id="header-search-input" name="query[]" placeholder="Search" required="" autocomplete="off" />

      <span class="icon icon-small icon-close" id="close-mobile-search-icon"></span>

    </form>

    <div id="header-search-suggestions">
      <ul id="header-search-suggestions-fillable"></ul>

      <div id="header-search-suggestions-empty" class="active">
        <span class="icon icon-huge icon-search"></span>
        <p>Search for the tag you're looking for, suggestions will show up here.
      </div>
    </div>
  </div>

  <div id="header-right">
    <% if user_signed_in? %>

      <div class="header-item">
        <%= link_to new_image_path do %>
          <%= t(".upload") %>
        <% end %>
      </div>

      <% if current_user.notifications.unread.size > 0 %>

        <div class="header-notifications unread">
          <div class="notifications-unread-count">
            <%= link_to notifications_path do %>
              <%= current_user.notifications.unread.size %>
            <% end %>
          </div>
      
      <% else %>

        <div class="header-notifications">
          <div class="notifications-unread-count">
            <%= link_to notifications_path do %>
              <%= current_user.notifications.unread.size %>
            <% end %>
          </div>

      <% end %>

        <div class="notifications-dropdown inactive">
          <%= render "notifications/notifications", notifications: current_user.notifications %>
        </div>
      </div>

      <div id="dd" class="wrapper-dropdown">
        <div class="header-item" id="username">
          <%= link_to current_user.name, current_user %>
        </div>

        <ul class="dropdown">
          <li><%= link_to 'Profile', current_user %>

          <% if current_user.admin? %>
            <li><%= link_to 'Admin', admin_images_path %>
          <% end %>
          
          <li><%= link_to 'Settings', edit_user_path(current_user) %>
          
          <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
        </ul>
      </div>

    <% else %>

      <div class="header-item" id="header-sign-up">
        <%= link_to 'Sign up', new_user_registration_path %>
      </div>

      <div class="header-item" id="header-sign-up">
        <%= link_to 'Sign in', new_user_session_path %>
      </div>

    <% end %>
  </div>
</header>
