<% cache_unless current_user, "header" do %>
  <header id="header-container" role="banner">
    <div id="header-left">

      <%# Home button %>
      <div class="header-item" id="header-home"
        data-turbolinks-permanent>
        <%= link_to root_path, title: t(".home") do %>
          <svg version="1.1" id="header-logo" 
             x="0px" y="0px"
              viewBox="480 0 1920 566" 
              style="enable-background:new 480 -3 1920 566;" 
              xml:space="preserve">
          <style type="text/css">
            .st0{fill:#FFFFFF;}
          </style>
          <g>
            <path class="wordmark st0" d="M2294.8,306l43.9,76.1h-29.3l-34.3-59.2l-34.3,59.2h-29.3l43.9-76.1l-43.9-76.1h29.3l34.3,59.2l34.3-59.2h29.3
              L2294.8,306z M1525.8,211l76.1,44.1v163.7l-76.1,43.6l-76.1-43.6v-29.3l76.1,43.9l50.7-29.3v-39.9l-50.7,29.1l-76.1-43.6V255
              L1525.8,211z M1525.8,240.5l-50.8,29.3v65.4l50.7,29.3l50.7-29.3v-65.4L1525.8,240.5z M1634.3,259v94.7l76.1,43.6l76-43.5l0,0
              l0.1-0.1v-29.3l-76.1,43.9l-50.7-29.3v-65.4l50.7-29.3l50.8,29.3l-50.8,29.3v29l76.1-43.6v-0.1V259l0,0l-76.1-44.1L1634.3,259z
               M2039,259v94.7l76.1,43.6l76.1-43.6v-29.3l-76.1,43.9l-50.7-29.3v-65.4l50.7-29.3l50.8,29.3l-50.8,29.3v29l76.1-43.6v-0.1V259l0,0
              l-76.1-44.1L2039,259z M1415,259v123.6l-25.4,14.7v-29.1l-50.7,29.1l-76.1-43.6V259l76.1-44.1L1415,259z M1389.6,273.6l-50.7-29.3
              l-50.7,29.3V339l50.7,29.3l50.7-29.3V273.6z M1087.4,248.1l-63.4-36.7l-76.1,44.1v127.1l25.4,14.7V270.1l50.7-29.3l50.7,29.3v119.8
              l12.7,7.3l12.7-7.3V270.1l50.7-29.3l50.7,29.3v127.1l25.4-14.7V255.4l-76.1-44.1L1087.4,248.1z M887.7,382.6l25.4,14.7V129.5
              l-25.4,14.7V382.6z M1981.6,250.7h-128.3V129.5l-25.4,14.7v238.4l25.4,14.7V276.1h128.3v121.1l25.4-14.7V144.2l-25.4-14.7V250.7z"
              />
              <g class="hexagons">
              <polygon class="st0" points="682.4,288.2 745.2,251.9 808,288.2 808,360.7 745.2,396.9 682.4,360.7    "/>
              <polygon class="st0" points="541.3,288.5 604.1,252.2 666.8,288.5 666.8,361 604.1,397.2 541.3,361    "/>
              <polygon class="st0" points="612,165.8 674.8,129.5 737.6,165.8 737.6,238.3 674.8,274.5 612,238.3    "/>
            </g>
          </g>
          </svg>
        <% end %>
      </div>

      
      <%# Browse button %>
      <div class="header-item header-item-center-text" id="header-browse">
        <span><%= link_to t(".browse"), images_path %></span>
      </div>
    </div>


    <%# "Hamburger menu" icon, only displayed on mobile devices. %>
    <div id="mobile-menu-icon" class="icon icon-small icon-menu">
    </div>

    <%# Semi-transparent black overlay used to hide background content when the mobile sidebar is opened. This is controlled by JavaScript. %>
    <div id="mobile-menu-overlay"></div>

    <div id="header-right">
      <%# Header search %>
      <div id="header-search" class="header-item">
        <%= react_component("HeaderSearch") %>
      </div>
      <% if user_signed_in? %>

        <%# Upload %>
        <div class="header-item" id="header-create">
          <div id="header-create-button">
            <i class="icon icon-add"></i>
          </div>

          <div class="create-dropdown inactive" data-showon="#header-create">
            <ul>
              <li><%= link_to t(".upload"), new_image_path %>
              <li><%= link_to t(".new_collection"), new_collection_path %>
            </ul>
          </div>
        </div>
      <% if current_user %>
        <%# Displays the number of unread notifications %>
        <%= react_component("HeaderNotifications", 
                            {unread: current_user.notifications.unread.count}, 
                            id: "header-notes") %>
      <% end %>
        <%# User dropdown %>
        <div class="user-bar">
          <%# Current user's username %>
          <div class="header-item header-item-force-height header-username">
            <span><%= current_user.name %></span>
          </div>

          <ul>
            <li><%= link_to t(".profile"), current_user %>
            <li><%= link_to t(".conversations"), conversations_path %>

            <%# Admin, only displayed for admins. %>
            <% if current_user.admin? %>
              <li><%= link_to t(".admin"), admin_images_path %>
            <% end %>
            
            <%# Settings %>
            <li><%= link_to t(".settings"), settings_path %>
            
            <%# Sign out %>
            <li><%= button_to t(".sign_out"), destroy_user_session_path, method: :delete %>
          </ul>
        </div>

      <%# If user isn't signed in, display "Sign up" and "Sign in" buttons only. %>
      <% else %>

        <%# Sign up %>
        <div class="header-item boxy-item" id="header-sign-up">
          <%= link_to t(".create_an_account"), new_user_registration_path %>
        </div>

        <%# Sign in %>
        <div class="header-item boxy-item" id="header-sign-up">
          <%= link_to t(".sign_in"), new_user_session_path %>
        </div>

      <% end %>
    </div>
  </header>
<% end %>
