<header id="header-container">
  <div id="header-left">
    <div class="header-item">
      <%= link_to 'Home', root_path %>
    </div>
  </div>

  <div id="header-search">
    <form action="/search" method="get">
      <!-- Search icon -->
      <label for="header-search-input">
        <span class="icon icon-small icon-search"></span>
      </label>

      <!-- Search input -->
      <input type="search" id="header-search-input" name="query[]" placeholder="Search" required="" autocomplete="off" />
    </form>

    <div id="header-search-suggestions">
      <span class="icon icon-huge icon-search"></span>
      <p>Search for the tag you're looking for, suggestions will show up here.
    </div>
  </div>

  <div id="header-right">
    <% if user_signed_in? %>

      <div class="header-item">
        <%= link_to 'Upload', new_image_path %>
      </div>

      <div class="header-item">
        <a href="#">Notifications</a>
      </div>

      <div id="dd" class="wrapper-dropdown">
        <div class="header-item" id="username">
          <%= current_user.name %>
        </div>

        <ul class="dropdown">
          <li><%= link_to 'Profile', current_user %>

          <% if current_user.admin? %>
            <li><%= link_to 'Admin', admin_images_path %>
          <% end %>
          
          <li><%= link_to 'Settings', settings_path %>
          
          <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
        </ul>
      </div>

    <% else %>

      <div class="header-item">
        <%= link_to 'Sign in', new_user_session_path %>
      </div>

    <% end %>
  </div>
</header>

<header id="mobile-header">
  <%= link_to 'Home', root_path %>

  <span class="icon icon-small icon-search" id="mobile-search-icon">Kek</span>

  <div id="mobile-header-search">

    <form action="/search" method="get">
      <input type="search" id="mobile-header-search-input" name="query[]" placeholder="Search" required="" autocomplete="off" />
    </form>

    <div id="mobile-header-search-suggestions">
      <span class="icon icon-small icon-search"></span>
      <p>Search for the tag you're looking for, suggestions will show up here.
    </div>
  </div>
</header>
