<!DOCTYPE html>
<html>
<head>
  <title>ImageHex</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Viewport meta tag -->
  <meta name="viewport" content="width=device-width">
</head>

<body>
  <%= render 'layouts/header' %>
  <% if notice %>
    <div class="alert alert-success"><p><%= notice %></p></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger"><p><%= alert %></p></div>
  <% end %>

  <div id="masthead">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
</body>
</html>