<!DOCTYPE html>
<html>
<head>
  <%# Depending on whether or not the current page has a title defined in its view
  controller, the HTML title element will be set either to "Page title - ImageHex"
  or just "ImageHex". %>
  <title><%= content_for?(:title) ? content_for(:title) + " - ImageHex" : "ImageHex" %></title>

  <%# UTF-8 Character Set %>
  <meta charset="utf-8">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%# Google Analytics %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-30487635-3', 'auto');
  ga('send', 'pageview');
  </script>

  <%# Favicon %>

  <%# 16px and 32px .ico favicons %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">

  <%# SVG favicon %>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">

  <%# Safari pinned tab icon %>
  <link rel="mask-icon" href="/favicon-grayscale.svg" color="#333333">

  <%# 16px and 32px favicons, just in case someone is using some absurdly old browser. %>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png"/>

  <%# 64px icon, used by most desktop browsers. %>
  <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png"/>
  
  <%# For iPhone with high-resolution Retina display running iOS ≥ 7. %>
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120-mobile.png">
  
  <%# For iPad retina and general Android device compatibility. %>
  <link rel="apple-touch-icon" href="/favicon-152.png">

  <%# Viewport meta tag %>
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <%# Makes the site capable of running as if it was an official app on Android and iOS. %>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <%# Proper application name for "Add to Homescreen" %>
  <meta name="application-name" content="ImageHex" />
  <meta name="apple-mobile-web-app-title" content="ImageHex">

  <%# Theme Color for Chrome on Android, etc. %>
  <meta name="theme-color" content="#333333">

  <%# WebApp Manifest for icons and things %>
  <link rel="manifest" href="/manifest.json">

  <%# Description for Google, etc. %>
  <meta name="description" content="<%= t(".imagehex_meta_description") %>">
</head>

<body class="<% if user_signed_in? %>signed-in<% end %>">
  <%= render 'layouts/header' %>
  <% flash.each do |name, msg| -%>
    <div class="alert alert-<%= name %>">
      <p><%= msg %></p>
      <div id="alert-close"></div>
    </div>
  <% end %>

  <div id="masthead">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

  <%# This script can be parsed by web crawlers to enable Google's in-results search box. %>
  <script type="application/ld+json">
  {
     "@context": "http://schema.org",
     "@type": "WebSite",
     "url": "http://www.imagehex.com/",
     "potentialAction": {
       "@type": "SearchAction",
       "target": "http://www.imagehex.com/search?query%5B%5D={search_term_string}",
       "query-input": "required name=search_term_string"
     }
  }
  </script>

  <%# Modal dialog container, JavaScript can be used to inject text into the p element below. %>
  <div id="modal-overlay">
    <div id="modal-dialog">
      <p><%= t(".please_sign_in") %>
      <div class="button-container">
        <div class="btn btn-green">
          <%= link_to t(".create_an_account"), new_user_registration_path %>
        </div>

        <div class="btn btn-grey">
          <%= link_to t(".sign_in"), new_user_session_path %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
